body {
	background-image: url(https://images.wallpaperscraft.com/image/starry_sky_milky_way_stars_glitter_space_118653_1920x1080.jpg);
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
	margin-top: 250px;
	color: #e5e5e5;
}

#timer {
	font-family: 'Roboto Mono', monospace;
	font-size: 150px;
	font-weight: 100;
}

button {
	width: 200px;
	font-size: 36px;
	text-align: center;
	border: none;
	background: none;
	outline: none;
	color: white;
	letter-spacing: 10px;

}

button:hover {
	cursor: pointer;
	color: #87CEFA;
}
